<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ml-lg-5 mx-3" href="">SEPM Group Phase</a>
  <button
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler ml-5"
    data-target="#navbarSupportedContent"
    data-toggle="collapse"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-5">
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          class="nav-link"
          routerLink="/news"
          routerLinkActive="active"
          >News</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          class="nav-link"
          routerLink="/top-ten"
          routerLinkActive="active"
        >Top Events</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          class="nav-link"
          routerLink="/merchandise"
          >Merchandise</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          class="nav-link"
          routerLink="/order-history"
          >Order History</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          *ngIf="authService.isLoggedIn()"
          routerLink="/reservations"
          >Reservations</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()" routerLink="/cart"
          >Cart</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.isLoggedIn()"
        ><i class="bi bi-stop-circle-fill" style="font-size: 1rem;"></i> Points: {{getPoints()}}</a
        >
      </li>
    </ul>
    <ul class="navbar-nav px-3" style="margin-left: auto">
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          routerLink="/profile"
          class="nav-link"
          style="margin-left: auto"
        >Profile</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="!authService.isLoggedIn()"
          class="nav-link"
          routerLink="/login"
          routerLinkActive="active"
          >Login</a
        >
      </li>
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          routerLink="/"
          (click)="authService.logoutUser()"
          class="nav-link"
          style="margin-left: auto"
          >Logout</a
        >
      </li>

    </ul>
  </div>
</nav>
