<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand ml-lg-5" href="">SEPM Group Phase</a>
  <button
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
    class="navbar-toggler ml-5"
    data-target="#navbarSupportedContent"
    data-toggle="collapse"
    type="button"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          *ngIf="authService.isLoggedIn()"
          class="nav-link"
          routerLink="/message"
          routerLinkActive="active"
        >Message</a
        >
      </li>
    </ul>
    <ul class="navbar-nav mr-5">
      <a
        *ngIf="!authService.isLoggedIn()"
        class="nav-link"
        routerLink="/login"
        routerLinkActive="active"
      >Login</a
      >

      <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/cart"
      >cart</a
      >
      <a
        *ngIf="authService.isLoggedIn()"
        class="nav-link"
        routerLink="/reservations"
      >reservations</a
      >
      <a
        *ngIf="authService.isLoggedIn()"
        class="nav-link"
        routerLink="/merchandise"
      >Merchandise</a
      >

      <a
        (click)="authService.logoutUser()"
        *ngIf="authService.isLoggedIn()"
        class="nav-link"
        routerLink="/"
      >Logout</a
      >


      <div><p></p></div>
    </ul>
  </div>
</nav>
