<div>
  <div class="row align-items-center">
    <div class="col-auto  p-2 " *ngFor="let event of topTenList">
      <a class="text-muted" routerLink="/{{event.id}}/event/">
        <div class="position-relative">
          <div class="position-absolute z-circle translate-middle-y top-50 start-0 h-75 w-75 rounded-circle bg-danger">
            <div
              class="position-absolute z-circle translate-middle-y top-50 start-0 fw-bold fs-4 text-white ms-1">{{ event.ticketCount }}</div>
          </div>

          <div class="card ms-5">
            <div class="d-flex row justify-content-center text-center">
              <!-- default img -->
              <div *ngIf="event.imagePath.length === 0">
                <img src="http://localhost:8080/images/cat.png"
                     class="card-img-top rounded "
                     alt=" {{event.imagePath}}" style="height: 8rem; width: 13rem; object-fit: cover">
              </div>
              <div *ngIf="event.imagePath.length > 0">
                <img src="http://localhost:8080/images/{{event.imagePath}}"
                     class="card-img-top rounded "
                     alt=" {{event.imagePath}}" style="height: 8rem; width: 13rem; object-fit: cover">
              </div>
            </div>
            <div class="card-body">
              <p class="card-text text-center">{{event.name}}</p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
