<br>
<h1>Merchandise</h1>
<div class="merch-header">
  <div class="checkbox-wrapper-3">
    <input type="checkbox" id="cbx-3" (change)="getMerchCheck()" [(ngModel)]="isChecked"/>
    <label for="cbx-3" class="toggle"><span></span></label>
  </div>
  <div>
    <h6>Show redeemable with <b><i class="bi bi-stop-circle-fill"></i> Points</b></h6>
  </div>
</div>
<div class="d-grid gap-4">

  <div class="p-2">
    <div class="container">
      <div class="row">
        <div *ngFor="let merch of merchandiseList" class="col-sm-6 col-md-4 col-lg-3">
          <div class="card mb-3">
            <img alt="Card image cap"
                 class="card-img-top"
                 src="https://cdn.shopify.com/s/files/1/2117/2713/products/LIP355A_METEORACOVERSPRAYNAVYTEE_grande_cropped.png?v=1679350057">
            <div class="card-body">
              <h5 class="card-title">{{merch.title}}</h5>
              <p class="card-text">{{merch.description}}</p>
              <p class="card-text">{{isChecked ? merch.pointsPrice + "   " : merch.price + "€"}}<i *ngIf="isChecked" class="bi bi-stop-circle-fill"> Points</i></p>
              <div class="container-fluid">
                <div class="row">
                  <!-- If the item is in the card, show the quantity as placeholder -->
                  <input [(ngModel)]="tempQuantity[merch.id]" class="col-md-6 me-3" max="5" min="0"
                         placeholder="{{ getPlaceholder(merch.id)}}" type="number">
                  <a (click)="addMerchToCart(merch.id,tempQuantity[merch.id])"
                     class="btn btn-primary  btn-sm col-md-4">Add</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- FILTER
  <div class="p-2">
    <form class=" container d-flex mb-3">
      <div class="col-sm-2">
        <label class="col-form-label" for="searchValue">
          Name
        </label>
        <input class="form-control" id="searchValue" name="searchValue" type="text">
      </div>

      <div class="col-sm-2">
        <label class="col-form-label" for="searchValue">
          Preis
        </label>
        <select class="form-select">
          <option selected>Auswählen</option>
          <option value="1">0-50</option>
          <option value="1">50-100</option>
          <option value="1">100-150</option>
          <option value="1">150+</option>
        </select>
      </div>

      <div class="col-sm-2 parent-container d-flex align-items-end">
        <div class="child-element">
          <input (click)="reloadMerch()" class="btn btn-primary" type="submit" value="zurücksetzen">
        </div>
      </div>
    </form>
  </div>
  -->


</div>
